<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="../static/assets/img/authFavicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
    <link rel="stylesheet" href="../static/auth.css">
</head>

<body>
    <div class="mainContainer">
        <div class="innerContainer">
            <div class="imgCont">
                <img src="../static/assets/img/login.svg" alt="">
            </div>
            <div class="headingCont">
                <div class="heading">
                    <p>LOG-IN to CONNECT</p>
                </div>
            </div>
            <form action="" method="post">
                <div class="nCont">
                    <input type="text" name="name" id="userName" placeholder="name" autocomplete="off">
                </div>
                <div class="idCont">
                    <input type="text" name="uId" id="userId" placeholder="id" autocomplete="off">
                </div>
                <div class="passwordCont">
                    <input type="password" name="uPass" id="userPassword" placeholder="password" autocomplete="off">
                </div>
                <div class="btnCont">
                    <button>
                        <span>Connect</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>