<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="../static/assets/img/chsFavicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Avatar</title>
    <link rel="stylesheet" href="../static/chsImg.css">
</head>

<body>
    <div class="mainContainer">
        <div class="innerContainer">
            <div class="headingCont">
                <div class="heading">
                    <p>Choose your Avatar :)</p>
                </div>
            </div>
            <div class="images">
                <div class="innerImagesLayer">
                    <div class="imgBox">
                        <div class="avatarBox">
                            <img src="../static/assets/avatar/mainAvatars/main1.svg" alt="">
                        </div>
                        <div class="avatarBox">
                            <img src="../static/assets/avatar/mainAvatars/main2.svg" alt="">
                        </div>
                        <div class="avatarBox">
                            <img src="../static/assets/avatar/mainAvatars/main3.svg" alt="">
                        </div>
                    </div>
                    <div class="imgBox">
                        <div class="avatarBox">
                            <img src="../static/assets/avatar/mainAvatars/main4.svg" alt="">
                        </div>
                        <div class="avatarBox">
                            <img src="../static/assets/avatar/mainAvatars/main5.svg" alt="">
                        </div>
                        <div class="avatarBox">
                            <img src="../static/assets/avatar/mainAvatars/main6.svg" alt="">
                        </div>
                    </div>
                    <div class="imgBox">
                        <div class="avatarBox">
                            <img src="../static/assets/avatar/friendAvatars/avatar1.svg" alt="">
                        </div>
                        <div class="avatarBox">
                            <img src="../static/assets/avatar/friendAvatars/avatar2.svg" alt="">
                        </div>
                        <div class="avatarBox">
                            <img src="../static/assets/avatar/friendAvatars/avatar3.svg" alt="">
                        </div>
                    </div>
                    <div class="imgBox">
                        <div class="avatarBox">
                            <img src="../static/assets/avatar/friendAvatars/avatar4.svg" alt="">
                        </div>
                        <div class="avatarBox">
                            <img src="../static/assets/avatar/friendAvatars/avatar5.svg" alt="">
                        </div>
                        <div class="avatarBox">
                            <img src="../static/assets/avatar/friendAvatars/avatar6.svg" alt="">
                        </div>
                    </div>
                    <div class="imgBox">
                        <div class="avatarBox">
                            <img src="../static/assets/avatar/friendAvatars/avatar7.svg" alt="">
                        </div>
                        <div class="avatarBox">
                            <img src="../static/assets/avatar/friendAvatars/avatar8.svg" alt="">
                        </div>
                        <div class="avatarBox">
                            <img src="../static/assets/avatar/friendAvatars/avatar9.svg" alt="">
                        </div>
                    </div>
                    <div class="imgBox">
                        <div class="avatarBox">
                            <img src="../static/assets/avatar/friendAvatars/avatar10.svg" alt="">
                        </div>
                        <div class="avatarBox">
                            <img src="../static/assets/avatar/friendAvatars/avatar11.svg" alt="">
                        </div>
                        <div class="avatarBox">
                            <img src="../static/assets/avatar/friendAvatars/avatar12.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>